.background{
 position: relative;
  background: url("./assets/quinton-coetzee-xcweYgakbRo-unsplash.jpg");
  background-size: 100% 100%;
 
  width:100vw;
  height: 100vh;
}
.title{
  position:absolute;
  top:20%;
  left:50%;
  transform:translate(-50%, 0);
  color:whitesmoke;
  font-size: 50px;
}
.titlesub{
  top:28%;
font-size: 35px;
}
.icon{
  background: white;
}

